dataportal-old/tags/start/xmlw-isis/src/selectorxmlw.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:xmlwrapper" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:xmlwrapper" xmlns:intf="urn:xmlwrapper" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="http://client.authorisation.cclrc.ac.uk" xmlns:tns3="http://xmlwrapper.cclrc.ac.uk" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <element name="Element" nillable="true" type="apachesoap:Element"/>
  </schema>
  <schema targetNamespace="http://client.authorisation.cclrc.ac.uk" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="InvalidAuthorisationTokenException">
    <sequence/>
   </complexType>
   <element name="InvalidAuthorisationTokenException" nillable="true" type="tns2:InvalidAuthorisationTokenException"/>
  </schema>
  <schema targetNamespace="http://xmlwrapper.cclrc.ac.uk" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="UserNotAuthorisedException">
    <sequence/>
   </complexType>
   <element name="UserNotAuthorisedException" nillable="true" type="tns3:UserNotAuthorisedException"/>
   <complexType name="XQueryProducedNullOutputException">
    <sequence/>
   </complexType>
   <element name="XQueryProducedNullOutputException" nillable="true" type="tns3:XQueryProducedNullOutputException"/>
   <complexType name="FormatterProducedNullOutputException">
    <sequence/>
   </complexType>
   <element name="FormatterProducedNullOutputException" nillable="true" type="tns3:FormatterProducedNullOutputException"/>
   <complexType name="FormatterProducedInvalidXMLException">
    <sequence/>
   </complexType>
   <element name="FormatterProducedInvalidXMLException" nillable="true" type="tns3:FormatterProducedInvalidXMLException"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="queryMetaDataResponse">

      <wsdl:part name="queryMetaDataReturn" type="apachesoap:Element"/>

   </wsdl:message>

   <wsdl:message name="UserNotAuthorisedException">

      <wsdl:part name="fault" type="tns3:UserNotAuthorisedException"/>

   </wsdl:message>

   <wsdl:message name="FormatterProducedInvalidXMLException">

      <wsdl:part name="fault" type="tns3:FormatterProducedInvalidXMLException"/>

   </wsdl:message>

   <wsdl:message name="XQueryProducedNullOutputException">

      <wsdl:part name="fault" type="tns3:XQueryProducedNullOutputException"/>

   </wsdl:message>

   <wsdl:message name="FormatterProducedNullOutputException">

      <wsdl:part name="fault" type="tns3:FormatterProducedNullOutputException"/>

   </wsdl:message>

   <wsdl:message name="queryMetaDataRequest">

      <wsdl:part name="external_xquery" type="xsd:string"/>

      <wsdl:part name="result_formatter" type="xsd:string"/>

      <wsdl:part name="proxy_cert" type="xsd:string"/>

      <wsdl:part name="auth_token" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="InvalidAuthorisationTokenException">

      <wsdl:part name="fault" type="tns2:InvalidAuthorisationTokenException"/>

   </wsdl:message>

   <wsdl:portType name="XmlWrapperDocSelector">

      <wsdl:operation name="queryMetaData" parameterOrder="external_xquery result_formatter proxy_cert auth_token">

         <wsdl:input message="impl:queryMetaDataRequest" name="queryMetaDataRequest"/>

         <wsdl:output message="impl:queryMetaDataResponse" name="queryMetaDataResponse"/>

         <wsdl:fault message="impl:FormatterProducedInvalidXMLException" name="FormatterProducedInvalidXMLException"/>

         <wsdl:fault message="impl:InvalidAuthorisationTokenException" name="InvalidAuthorisationTokenException"/>

         <wsdl:fault message="impl:FormatterProducedNullOutputException" name="FormatterProducedNullOutputException"/>

         <wsdl:fault message="impl:UserNotAuthorisedException" name="UserNotAuthorisedException"/>

         <wsdl:fault message="impl:XQueryProducedNullOutputException" name="XQueryProducedNullOutputException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="xmlwrapper_selectorSoapBinding" type="impl:XmlWrapperDocSelector">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="queryMetaData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="queryMetaDataRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:xmlwrapper" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="queryMetaDataResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:xmlwrapper" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="XmlWrapperDocSelectorService">

      <wsdl:port binding="impl:xmlwrapper_selectorSoapBinding" name="xmlwrapper_selector">

         <wsdlsoap:address location="http://localhost:8080/xmlw-ng/xmlwrapper_selector"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
