tags/r1/source/3.2.1/server/r1/matrix/parser/srb.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Arun Jagatheesan (SDSC) -->
<!--We hope to have this as a standard in the Global Grid Forum for data management in data grids. Contact SDSC Matrix Team (arun@sdsc.edu) for any suggestions or comments -->
<xs:schema targetNamespace="http://www.teragrid.org/schemas/datagrid" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tg="http://www.teragrid.org/schemas/datagrid" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<?version 0.9.1?>
	<!-- ROOT ELEMENTS  (The DataGrid Language consists of DataGridRequest or a DataGridResponse)-->
	<xs:element name="DataGridRequest">
		<xs:annotation>
			<xs:documentation>DGReq for short</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocMeta" type="tg:DocMeta"/>
				<xs:element name="GridUser" type="tg:UserInfo"/>
				<xs:element name="VOInfo" type="tg:VirtualOrganizationInfo"/>
				<xs:choice>
					<xs:element name="Transaction" type="tg:Transaction"/>
					<xs:element name="TransactionStatusQuery" type="tg:TransactionStatusQuery"/>
				</xs:choice>
				<xs:element name="TerminationHandler" type="tg:TerminationHandlers"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataGridResponse">
		<xs:annotation>
			<xs:documentation>DGRes for short</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="docMeta" type="tg:DocMeta">
					<xs:annotation>
						<xs:documentation>information about the document and the DataGrid Server and Matrix Handlers that were used to process the request</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:element name="TransactionAcknowledgement" type="tg:TransactionAcknowledgment">
						<xs:annotation>
							<xs:documentation>Sent as a response imdtly after a job or request is submited. This provides a psudo-asynchrony. In future, there could be pure asynchrony and this might not be used</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransactionStatusResponse" type="tg:TransactionStatusResponse"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- REQUEST ELEMENTS (The data types used in DataGridRequest)-->
	<xs:complexType name="DocMeta">
		<xs:annotation>
			<xs:documentation>Information about the DataGridRequest or a DataGridResponse</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="docAuthor" type="xs:string"/>
			<xs:element name="docOwner" type="tg:UserInfo" minOccurs="0"/>
			<xs:element name="documentation" type="xs:string" minOccurs="0"/>
			<xs:element name="docVersion" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UserInfo">
		<xs:annotation>
			<xs:documentation>Information about a grid User</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>Can be either a user-id or grid-certificate key or a ticket-id to logon to the datagrid</xs:documentation>
				</xs:annotation>
				<xs:element name="gridTicket" type="tg:GridTicketInfo"/>
				<xs:sequence>
					<xs:element name="userID" type="xs:string"/>
					<xs:element name="organization" type="tg:OrganizationInfo">
						<xs:annotation>
							<xs:documentation>The organization of user. In SRB it is the domain name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="challenge-Response" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>password in most cases - must be transmitted secure (e.g) HTTPS</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="homeDirectory" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The default home collection the user wants to use for the session</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="defaultStorageResource" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>default logical storage resource the users wants to use for this session</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:choice>
			<xs:element name="phoneNumber" type="xs:int" minOccurs="0"/>
			<xs:element name="e-mail" type="xs:anyURI" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VirtualOrganizationInfo">
		<xs:annotation>
			<xs:documentation>Virtual Organization or the Grid</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="voID" type="xs:string">
					<xs:annotation>
						<xs:documentation>Virtual Organization ID (e.g) SCEC, TeraGrid, BIRN</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:sequence>
					<xs:element name="server" type="xs:anyURI"/>
					<xs:element name="port" type="xs:int"/>
				</xs:sequence>
			</xs:choice>
			<xs:element name="description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description about the Virtual Organization</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Transaction">
		<xs:annotation>
			<xs:documentation>The transaction represents the entire job described in a DataGrid Request. In database terms, this is a long run transaction or a 'saga'</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Flow" type="tg:Flow" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Flow">
		<xs:annotation>
			<xs:documentation>Flow is an unit of a transaction consisting of a set of steps that can be either executed sequentially or parallely</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Steps" type="tg:Step" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="flowType" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="Step">
		<xs:annotation>
			<xs:documentation>Step represents an atomic operation that can be executed on the data grid</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Operation" type="tg:Operation"/>
			<xs:element name="TerminationHandler" type="xs:string" minOccurs="0"/>			
		</xs:sequence>
		<xs:attribute name="stepID" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="Operation">
		<xs:annotation>
			<xs:documentation>any standard data grid operation </xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="CopyOp" type="tg:CopyOp"/>
			<xs:element name="ChangePermissionOp" type="tg:ChangePermissionOp"/>
			<xs:element name="CreateOp" type="tg:CreateOp"/>
			<xs:element name="DeleteOp" type="tg:DeleteOp"/>
			<xs:element name="RenameOp" type="tg:RenameOp"/>
			<xs:element name="IngestOp" type="tg:IngestDataSetOp"/>
			<xs:element name="PrepareTicketOp" type="tg:PrepareTicketOp"/>
			<xs:element name="DownloadDataSetOp" type="tg:DownloadDataSetOp"/>
			<xs:element name="ReplicateOp" type="tg:ReplicateOp"/>
			<xs:element name="ListOp" type="tg:ListOp"/>
			<xs:element name="SeekNReadOp" type="tg:SeekNReadOp"/>
			<xs:element name="SeekNWriteOp" type="tg:SeekNWriteOp"/>
			<xs:element name="MetadataQueryOp" type="tg:MetadataQueryOp"/>
			<xs:element name="IngestMetadataOp" type="tg:IngestMetadataOp"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="TerminationHandlers">
		<xs:annotation>
			<xs:documentation>DataGridRequest can specify termination handlers to handle any exceptions during their execution</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TBA" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:ID" use="required"/>
	</xs:complexType>
	<!-- STATUS ELEMENTS  (For querying on the status of a DataGridRequest)-->
	<xs:complexType name="TransactionStatusQuery">
		<xs:annotation>
			<xs:documentation>Query the state of a job or a trasaction</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="FlowStatusQuery" type="tg:FlowStatusQuery" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="transactionID" type="xs:string" use="required"/>
		<xs:attribute name="stop" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="FlowStatusQuery">
		<xs:annotation>
			<xs:documentation>Query the state of a particular flow NOTE:Attribute flowID has to be made required</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="StepStatusQuery" type="tg:StepStatusQuery" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="flowID" type="xs:string" use="optional"/>
		<xs:attribute name="stop" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="StepStatusQuery">
		<xs:annotation>
			<xs:documentation>Query the stae of a particular step in a data grid request made earlier</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="queryType" type="xs:string" default="simpleQuery">
				<xs:annotation>
					<xs:documentation>can be used to indicate the type of the query. Currenly just has the value 'simple query'. In future might have mroe value including ways to subscribe to know the status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stop" type="xs:string" default="tryStop">
				<xs:annotation>
					<xs:documentation>can be used to stop a step (if  it has no been started and if the flow is sequential) - not used now</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="stepID" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The name of the step that has to be queried</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!-- PARAMETER ELEMENTS (Data types for the entities in a datagrid)-->
	<xs:complexType name="GridTicketInfo">
		<xs:annotation>
			<xs:documentation>Grid Ticket that can be used to use the grid without having a valid user-id</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ticketID" type="tg:TicketID"/>
			<xs:element name="startTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="endTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="recursiveDistribution" type="xs:boolean" minOccurs="0"/>
			<xs:element name="ticketParent" type="tg:UserInfo" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationInfo">
		<xs:annotation>
			<xs:documentation>Organization or a Group in the Grid</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="organizationName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Could be an organization or a group in the datagrid. In SRB, this is called as domain or UserGroup</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="groupUserId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is a special user-id in the VO. The members of the Organization inherit the rights enjoyed by this groupUserId. Similar to Unix-FileSystem groups</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descrtiption about the organization or the group in the VO</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActiveDatagridCollection">
		<xs:annotation>
			<xs:documentation>Active Data Grid Collection to be used by Data Grid Management Systems in future</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="collection" type="tg:Collection"/>
			<xs:element name="collectionBehavior" type="xs:anyURI"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Collection">
		<xs:annotation>
			<xs:documentation>A collection is a logical organization of digital entities in a data that might be physically distributed in the data grid</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="StdCollection">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="collectionName" type="xs:string" nillable="false"/>
						<xs:element name="collectionOwner" type="tg:UserInfo" minOccurs="0"/>
						<xs:element name="MetaData" type="tg:MetaData" minOccurs="0"/>
						<xs:element name="annotation" type="tg:Annotation" minOccurs="0"/>
						<xs:element name="comments" type="xs:string" minOccurs="0"/>
						<xs:element name="defContainer" type="tg:Container" minOccurs="0"/>
						<xs:element name="createTimeStamp" type="xs:dateTime" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AnyDirectory" type="tg:ParamList"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ParamList">
		<xs:annotation>
			<xs:documentation>A list of generic parameters as strings (not xs:anyType). This is provided for flexibility to use differnt set of parameters other the standard ones (if requiered)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="param" type="xs:string" nillable="true" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MetaData">
		<xs:annotation>
			<xs:documentation>A general Description of MetaData</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AVU-pairs" type="tg:AVUpair" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="UserDefined" type="tg:UserDefinedSchema" minOccurs="0"/>
			<xs:element name="SystemMeta" type="tg:SystemMetaData" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AVUpair">
		<xs:annotation>
			<xs:documentation>Attribute-value-unit pair for meta data (one of the simplest ways used for meta-data) (e.g) color-blue-100</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="attribute" type="xs:string"/>
			<xs:element name="value" type="xs:string"/>
			<xs:element name="unit" type="xs:string" minOccurs="0"/>
			<xs:element name="addlValues" type="xs:anySimpleType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>the current matrix implementation can support only upto 6 addlValues</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Container">
		<xs:annotation>
			<xs:documentation>Container is used to store a set of releated dataSets  together for convenience at a single site in the datagrid.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="containerName" type="xs:string"/>
			<xs:element name="currentSize" type="xs:unsignedLong" nillable="false" minOccurs="0"/>
			<xs:element name="maxSize" type="xs:unsignedLong" minOccurs="0"/>
			<xs:element name="replicaNum" type="xs:int" minOccurs="0"/>
			<xs:element name="resourceUsed" type="tg:Resource" minOccurs="0"/>
			<xs:element name="dataType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>datatype stored in this container</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataSet">
		<xs:annotation>
			<xs:documentation>Any data in the grid</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dataIdentifier" type="xs:string">
				<xs:annotation>
					<xs:documentation>Just the name, like a file name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="logicalLocation" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>logical home or location. In SRB the collection is the logical location (made optional for interoperability)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="physicalLocation" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is the physical location or URL of the data set. could be gridftp url</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="logicalResourceName" type="tg:Resource" minOccurs="0"/>
			<xs:element name="InContainer" type="tg:Container" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Is this data set in a container</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MetaInfo" type="tg:MetaData" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Meta data about this particular data set</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="replicaNum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>replica number of the data set</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="size" minOccurs="0">
				<xs:annotation>
					<xs:documentation>size of the data set</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>type of the data set. (e.g) jpeg, mov, xml, fits etc</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="createTimeStamp" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="lastModificationTimeStamp" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="lastAccessTimeStamp" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="Owner" type="tg:UserInfo" minOccurs="0"/>
			<xs:element name="dataDirty" type="xs:boolean" minOccurs="0"/>
			<xs:element name="dataCompressed" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Lock" type="tg:DataLock" minOccurs="0"/>
			<xs:element name="hideLevel" type="xs:int" default="0" minOccurs="0">
				<xs:annotation>
					<xs:documentation>if > 0 hide even the existence of this data to other users</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataDeleted" type="xs:boolean" minOccurs="0"/>
			<xs:element name="checkSum" type="xs:unsignedLong" minOccurs="0"/>
			<xs:element name="expiryDate1" type="xs:date" minOccurs="0"/>
			<xs:element name="expiryDate2" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActiveDatagridDataSet">
		<xs:annotation>
			<xs:documentation>Active Data Grid dataset to be used by Data Grid Management System</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dataSet" type="tg:DataSet"/>
			<xs:element name="VO" type="tg:VirtualOrganizationInfo"/>
			<xs:element name="provider" type="tg:UserInfo"/>
			<xs:element name="static" type="xs:boolean" default="false"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Resource">
		<xs:annotation>
			<xs:documentation>logical or physical name of the resource in the data grid</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="logicalName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Logical name used to identify a resource in the data grid. (e.g) SDSC-HPSS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="resourceType" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type of the resource. (e.g) archive, database, unix, NFS etc. This has to be converted into a enumeration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="physicalLocation" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>physical location of the resource. (e.g) /projects/birn/srbVault</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="netURI" type="xs:anyURI" minOccurs="0"/>
			<xs:element name="maxObjSize" type="xs:unsignedLong" minOccurs="0"/>
			<xs:element name="Latency" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:int">
							<xs:attribute name="minLatency" type="xs:int" use="optional"/>
							<xs:attribute name="maxLatency" type="xs:int" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="approxBandwidth" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:unsignedLong">
							<xs:attribute name="worstCaseBW" type="xs:unsignedLong" use="optional"/>
							<xs:attribute name="bestCaseBW" type="xs:unsignedLong" use="optional"/>
							<xs:attribute name="varianceFromApprox" type="xs:int" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="resoureHierarchy" type="xs:int" minOccurs="0"/>
			<xs:element name="capacity" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:unsignedLong">
							<xs:attribute name="measurementUnit" type="xs:string" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StdDatagridObject">
		<xs:annotation>
			<xs:documentation>Choice of the datagrid object descriptions like Collection, Container, Data Set</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="CollectionNow" type="tg:Collection"/>
			<xs:element name="DataSetNow" type="tg:DataSet"/>
			<xs:element name="ContainerNow" type="tg:Container"/>
			<xs:element name="ADCnow" type="tg:ActiveDatagridCollection"/>
			<xs:element name="ActiveDataSetNow" type="tg:ActiveDatagridDataSet"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Annotation">
		<xs:sequence>
			<xs:element name="annotator" type="tg:UserInfo"/>
			<xs:element name="text" type="xs:string"/>
			<xs:element name="timeStamp" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataLock">
		<xs:sequence>
			<xs:element name="lockNum" type="xs:int">
				<xs:annotation>
					<xs:documentation>lock type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lockOwner" type="tg:UserInfo"/>
			<xs:element name="lockDescription" type="xs:string" minOccurs="0"/>
			<xs:element name="lockStartTimeStamp" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="lockEndTimeStamp" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TicketID">
		<xs:choice>
			<xs:element name="key" type="tg:Key" nillable="false"/>
			<xs:element name="ticketString">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="ticketType" use="optional">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="SRBTicket"/>
										<xs:enumeration value="Other"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Key">
		<xs:annotation>
			<xs:documentation>To represent a key like public key or GSI</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="keyValue" type="xs:string"/>
			<xs:element name="validFrom" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="validTo" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="issuedBy" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="keyType" type="xs:string" use="optional" default="GSI"/>
		<xs:attribute name="keyVersion" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MetadataQueryInfo">
		<xs:annotation>
			<xs:documentation>Results for a query for metadata</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="queryRequestString" type="xs:string"/>
			<xs:element name="queryResultString" type="xs:anyType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CollectionList">
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:element name="CollectionsExtendedInfo" type="tg:CollectionList" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Collections" type="tg:Collection" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:element name="dataSets" type="tg:DataSetExtendedList" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataSetExtendedList">
		<xs:sequence>
			<xs:element name="DataSet" type="tg:DataSet"/>
			<xs:element name="canRead" type="xs:boolean" minOccurs="0"/>
			<xs:element name="canWrite" type="xs:boolean" minOccurs="0"/>
			<xs:element name="allAccess" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CollectionSystemMetaData">
		<xs:annotation>
			<xs:documentation>System defined meta data for collection</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UserSystemMetaData">
		<xs:sequence>
			<xs:element name="TBA"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatasetSystemMetaData">
		<xs:sequence>
			<xs:element name="is_dirty" type="xs:string" minOccurs="0"/>
			<xs:element name="file_is_compressed" type="xs:string" minOccurs="0"/>
			<xs:element name="file_hide" type="xs:int" minOccurs="0"/>
			<xs:element name="file_ver_num" type="xs:string" minOccurs="0"/>
			<xs:element name="file_class_type" type="xs:string" minOccurs="0"/>
			<xs:element name="file_expiry_date" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="file_expire_date_2" type="xs:string" minOccurs="0"/>
			<xs:element name="modification_date" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="file_pin_expiry" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="file_auditFlag" type="xs:string" minOccurs="0"/>
			<xs:element name="file_pin_owner_domain" type="tg:OrganizationInfo" minOccurs="0"/>
			<xs:element name="file_replication_enum" type="xs:int" minOccurs="0"/>
			<xs:element name="size" type="xs:long" minOccurs="0"/>
			<xs:element name="file_lock" type="tg:DataLock" minOccurs="0"/>
			<xs:element name="creation_date" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="physical_resouce" type="tg:Resource" minOccurs="0"/>
			<xs:element name="containerInfo" type="tg:Container" minOccurs="0"/>
			<xs:element name="offset" type="xs:long" minOccurs="0">
				<xs:annotation>
					<xs:documentation>position of data in container</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="file_access_id" type="xs:string" minOccurs="0"/>
			<xs:element name="owner" type="tg:UserInfo" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResourceSystemMetaData">
		<xs:sequence>
			<xs:element name="TBA"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SystemMetaData">
		<xs:choice>
			<xs:element name="collectionSysMeta" type="tg:CollectionSystemMetaData"/>
			<xs:element name="userSysMeta" type="tg:UserSystemMetaData"/>
			<xs:element name="resourceSysMeta" type="tg:ResourceSystemMetaData"/>
			<xs:element name="dataSetSysMeta" type="tg:DatasetSystemMetaData"/>
			<xs:element name="anySysMeta" type="tg:UserDefinedSchema"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="UserDefinedSchema">
		<xs:annotation>
			<xs:documentation>Any structure based on user defined schema</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="anyUserDefined" type="xs:anyType"/>
			<xs:element name="dublinCore-template" type="tg:MetaDataTemplate-DublinCore"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MetaDataTemplate-DublinCore">
		<xs:sequence>
			<xs:element name="TBA"/>
		</xs:sequence>
	</xs:complexType>
	<!-- OPERATIONS -->
	<xs:complexType name="CopyOp">
		<xs:annotation>
			<xs:documentation>copy data from a dataSource to dataDestination</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="StdParams" type="tg:CopyParams"/>
			<xs:element name="FlexParams" type="tg:ParamList"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CopyParams">
		<xs:annotation>
			<xs:documentation>Standard definition to copy data from a dataSource to dataDestination in grid. The logical name of the data object in the source and target must be the same  ARUN COMMENT: The Conatinainer name can not be target in this operation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>This structure has to confirmed</xs:documentation>
			</xs:annotation>
			<xs:element name="DataSource" type="tg:StdDatagridObject"/>
			<xs:element name="DataTarget" type="tg:StdDatagridObject">
				<xs:annotation>
					<xs:documentation>If container name specified in the Collection or DataSet they are used in this operation</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChangePermissionOp">
		<xs:choice>
			<xs:element name="StdParams" type="tg:ChangePermissionParams"/>
			<xs:element name="FlexParams" type="tg:ParamList"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ChangePermissionParams">
		<xs:sequence>
			<xs:element name="gridData" type="tg:StdDatagridObject"/>
			<xs:element name="targetUser" type="tg:UserInfo"/>
			<xs:element name="newPermission">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="read"/>
						<xs:enumeration value="write"/>
						<xs:enumeration value="all"/>
						<xs:enumeration value="annotate"/>
						<xs:enumeration value="none"/>
						<xs:enumeration value="other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="recursive" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>grants/changes access permissions recursively for collection and sub-collections under it. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="auditNewAccess" minOccurs="0">
				<xs:annotation>
					<xs:documentation>adds auditing feature for the access permission granted for datasets. Auditing works only if the audit_flag is turned on by the Datagrid Provider. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="collectionOnly" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>grants/changes access permissions for collections only. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataSetOnly" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>grants/changes access permissions for datasets only. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreateOp">
		<xs:choice>
			<xs:element name="StdParams" type="tg:CreateParams"/>
			<xs:element name="FlexParams" type="tg:ParamList"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CreateParams">
		<xs:sequence>
			<xs:element name="DatagridObject" type="tg:StdDatagridObject"/>
			<xs:element name="defaultContainerForCollection" type="tg:Container" minOccurs="0">
				<xs:annotation>
					<xs:documentation>When creating the collection, the call also associates the new collection with a parent collection's container (if one exists). Using this option overrides this default.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeleteOp">
		<xs:annotation>
			<xs:documentation>Delete datagrid object</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="StdParams" type="tg:DeleteParams"/>
			<xs:element name="FlexParams" type="tg:ParamList"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DeleteParams">
		<xs:annotation>
			<xs:documentation>Parameters for deleting a datagrid Object</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="gridObject" type="tg:StdDatagridObject"/>
			<xs:element name="recursive" type="xs:boolean" minOccurs="0"/>
			<xs:element name="force" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RenameOp">
		<xs:annotation>
			<xs:documentation>Rename Operation (Smv in SRB)</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="StdParams" type="tg:RenameParams"/>
			<xs:element name="FlexParams" type="tg:ParamList"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="RenameParams">
		<xs:annotation>
			<xs:documentation>Renames the logical names used to identify a datagrid object</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OldName" type="tg:StdDatagridObject"/>
			<xs:element name="NewName" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IngestDataSetOp">
		<xs:annotation>
			<xs:documentation>Full Ingestion of a data Set into the datagrid including logical entries and phyical conetent movement</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="StdParams" type="tg:IngestDataSetParams"/>
			<xs:element name="FlexParams" type="tg:ParamList"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="IngestDataSetParams">
		<xs:annotation>
			<xs:documentation>Full Ingestion of a data Set into the datagrid including logical entries and phyical conetent movement</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="content-MIME-ID" type="xs:string">
					<xs:annotation>
						<xs:documentation>This must be either a xs:Qname or URI  or somthing pointing to the attachment content id of the MIME or DIME present along with the DataGridRequest</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>For external contents like objects from a URL or FTPresource along with the userInfo required to grab the content</xs:documentation>
					</xs:annotation>
					<xs:element name="externalURL" type="xs:string"/>
					<xs:element name="externalUser" type="tg:UserInfo" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
			<xs:element name="DataDestination" type="tg:DataSet">
				<xs:annotation>
					<xs:documentation>The incoming conent will be  inserted into a existing collection with this description. An existing  container or resoruce can also be specified.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="overWrite" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>force copying even if object exists</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="updateAllReplicas" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>force copying all replica of the target object. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DownloadDataSetOp">
		<xs:choice>
			<xs:element name="StdParams" type="tg:DownloadDataSetParams"/>
			<xs:element name="FlexParams" type="tg:ParamList"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DownloadDataSetParams">
		<xs:sequence>
			<xs:element name="DataSource" type="tg:DataSet">
				<xs:annotation>
					<xs:documentation>data set that has to be downloaded </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data Download Destination: If no destination is provided, the data is sent as a MIME or DIME along with the response with the full logical name of the dataSet as the content it in downloadDataSetResult. The stepName may be concatenated to get unique identifier along iwth the full logical name</xs:documentation>
				</xs:annotation>
				<xs:element name="content-MIME-ID" type="xs:string">
					<xs:annotation>
						<xs:documentation>This must be either a xs:Qname or URI  or somthing pointing to the attachment content id of the MIME or DIME that can be present along with the DataGridResponse</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>For downloading data to external reources like FTPresource along with the userInfo required to write the content</xs:documentation>
					</xs:annotation>
					<xs:element name="externalURL" type="xs:string"/>
					<xs:element name="externalUser" type="tg:UserInfo" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrepareTicketOp">
		<xs:annotation>
			<xs:documentation>Prepare Ticket Operation</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="StdParams" type="tg:PrepareTicketParams"/>
			<xs:element name="FlexParams" type="tg:ParamList"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PrepareTicketParams">
		<xs:sequence>
			<xs:element name="parentUser" type="tg:UserInfo"/>
			<xs:element name="gridInfo" type="tg:VirtualOrganizationInfo" minOccurs="0"/>
			<xs:element name="startTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="endTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="recursiveDistribution" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReplicateOp">
		<xs:choice>
			<xs:element name="StdParams" type="tg:ReplicateParams"/>
			<xs:element name="FlexParams" type="tg:ParamList"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ReplicateParams">
		<xs:annotation>
			<xs:documentation>Replicates by making one more copy of the datagrid object </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DataSource" type="tg:StdDatagridObject"/>
			<xs:element name="DataTarget" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TargetCollection" type="tg:Collection" minOccurs="0">
							<xs:annotation>
								<xs:documentation>If given, the object is stored in this collection</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TargetResource" type="tg:Resource" minOccurs="0">
							<xs:annotation>
								<xs:documentation>If given, the object is stored in resourceName. Otherwise the object is stored in the default resource userInfo</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListOp">
		<xs:choice>
			<xs:element name="StdParams" type="tg:ListParams"/>
			<xs:element name="FlexParams" type="tg:ParamList"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ListParams">
		<xs:sequence>
			<xs:element name="DataSource" type="tg:StdDatagridObject"/>
			<xs:element name="recursive" type="xs:boolean" minOccurs="0"/>
			<xs:element name="extendedInfoLevel" type="xs:int" default="0" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SeekNReadOp">
		<xs:choice>
			<xs:element name="StdParams" type="tg:SeekNReadParams"/>
			<xs:element name="FlexParams" type="tg:ParamList"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SeekNReadParams">
		<xs:annotation>
			<xs:documentation>Used to read raw bytes from a data set (more like a file thingie)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DataSet" type="tg:DataSet"/>
			<xs:element name="offset" type="xs:unsignedLong">
				<xs:annotation>
					<xs:documentation>the start offset in the data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="length" type="xs:unsignedLong">
				<xs:annotation>
					<xs:documentation>the maximum number of bytes read. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data Read/Download Destination: If no destination is provided, the data is sent as a MIME or DIME along with the response with the full logical name of the dataSet as the content it in downloadDataSetResult. The stepName may be concatenated to get unique identifier along iwth the full logical name</xs:documentation>
				</xs:annotation>
				<xs:element name="content-MIME-ID" type="xs:string">
					<xs:annotation>
						<xs:documentation>This must be either a xs:Qname or URI  or somthing pointing to the attachment content id of the MIME or DIME that can be present along with the DataGridResponse</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>For downloading data to external reources like FTPresource along with the userInfo required to write the content</xs:documentation>
					</xs:annotation>
					<xs:element name="externalURL" type="xs:string"/>
					<xs:element name="externalUser" type="tg:UserInfo" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SeekNWriteOp">
		<xs:choice>
			<xs:element name="StdParams" type="tg:SeekNWriteParams"/>
			<xs:element name="FlexParams" type="tg:ParamList"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SeekNWriteParams">
		<xs:annotation>
			<xs:documentation>Used to write raw bytes into a data set (more like seek in, write)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DataSet" type="tg:DataSet"/>
			<xs:element name="offset" type="xs:unsignedLong">
				<xs:annotation>
					<xs:documentation>the start offset in the data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="length" type="xs:unsignedLong">
				<xs:annotation>
					<xs:documentation>the number of bytes that are written</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:annotation>
					<xs:documentation>Data Source</xs:documentation>
				</xs:annotation>
				<xs:element name="content-MIME-ID" type="xs:string">
					<xs:annotation>
						<xs:documentation>This must be either a xs:Qname or URI  or somthing pointing to the attachment content id of the MIME or DIME that can be present along with the DataGridRequest</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>For writing data from external reources like FTPresource along with the userInfo required to write the content</xs:documentation>
					</xs:annotation>
					<xs:element name="externalURL" type="xs:string"/>
					<xs:element name="externalUser" type="tg:UserInfo" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MetadataQueryOp">
		<xs:annotation>
			<xs:documentation>Metadata Query Operation</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="StdParams" type="tg:MetadataQueryParams"/>
			<xs:element name="FlexParams" type="tg:ParamList"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MetadataQueryParams">
		<xs:annotation>
			<xs:documentation>Params for metadata query</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="queryRequestString" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IngestMetadataOp">
		<xs:annotation>
			<xs:documentation>Ingest Metadata Operation</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="StdParams" type="tg:IngestMetadataParams"/>
			<xs:element name="FlexParams" type="tg:ParamList"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="IngestMetadataParams">
		<xs:annotation>
			<xs:documentation>Params for ingest metadata</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DataGridObject" type="tg:StdDatagridObject"/>
			<xs:element name="Metadata" type="tg:MetaData"/>
		</xs:sequence>
	</xs:complexType>
	<!-- RESPONSE ELEMENTS -->
	<xs:complexType name="TransactionAcknowledgment">
		<xs:annotation>
			<xs:documentation>Acnowledgement sent on reciept of a Datagrid request  - immedietly. This is to faciliate psueo-asynchrony. In futre this acknowledgement might be avoided to proivde pure asynchrony.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="transactionID" type="xs:string"/>
			<xs:element name="requestState" type="xs:int">
				<xs:annotation>
					<xs:documentation>specifies if the request was submited to the DataGrid Request Queue. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionStatusResponse">
		<xs:sequence minOccurs="0">
			<xs:element name="FlowStatusResponse" type="tg:FlowStatusResponse" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="transactionID" type="xs:string" use="required"/>
		<xs:attribute name="startTime" type="xs:dateTime" use="optional"/>
		<xs:attribute name="endTime" type="xs:dateTime" use="optional"/>
		<xs:attribute name="abortRequested" type="xs:boolean" use="optional"/>
		<xs:attribute name="statusCode" type="xs:int" use="optional" default="0"/>
	</xs:complexType>
	<xs:complexType name="FlowStatusResponse">
		<xs:sequence minOccurs="0">
			<xs:element name="StepStatusResponse" type="tg:StepStatusResponse" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="flowID" type="xs:string" use="required"/>
		<xs:attribute name="startTime" type="xs:dateTime" use="optional"/>
		<xs:attribute name="endTime" type="xs:dateTime" use="optional"/>
		<xs:attribute name="abortRequested" type="xs:boolean" use="optional"/>
		<xs:attribute name="statusCode" type="xs:int" use="optional" default="0"/>
	</xs:complexType>
	<xs:complexType name="StepStatusResponse">
		<xs:sequence>
			<xs:element name="statusCode" type="xs:int">
				<xs:annotation>
					<xs:documentation>would indicate if the status of the step (started, completed, not in queue, unknown step etc) based on the status query</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="statusDescription" type="xs:string" minOccurs="0"/>
			<xs:element name="Result" type="tg:OpResult" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="stepID" type="xs:string" use="required"/>
		<xs:attribute name="startTime" type="xs:dateTime" use="optional"/>
		<xs:attribute name="endTime" type="xs:dateTime" use="optional"/>
		<xs:attribute name="abortRequested" type="xs:boolean" use="optional"/>
	</xs:complexType>
	<xs:complexType name="OpResult">
		<xs:annotation>
			<xs:documentation>Resultant Information for specific Operations added to the Response</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="returnValue" type="xs:int"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="addlComments" type="xs:string" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:element name="prepareTicketResult" type="tg:PrepareTicketResult"/>
				<xs:element name="downloadDataSetResult" type="tg:DownloadDataSetResult"/>
				<xs:element name="listResult" type="tg:ListResult"/>
				<xs:element name="seekNReadResult" type="tg:SeekNReadResult"/>
				<xs:element name="metadataQueryResult" type="tg:MetadataQueryResult"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!--Operation specific result values-->
	<xs:complexType name="PrepareTicketResult">
		<xs:sequence>
			<xs:element name="gridTicket" type="tg:GridTicketInfo"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DownloadDataSetResult">
		<xs:sequence>
			<xs:choice>
				<xs:element name="contentId">
					<xs:annotation>
						<xs:documentation>This is either a xs:Qname or URI  or somthing pointing to the attachment content id of the MIME or DIME that is be present along with the DataGridResponse</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="externalURl">
					<xs:annotation>
						<xs:documentation>URL of the external reource like FTPresource where the conetent was dowloaded from the datagrid</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="comments">
				<xs:annotation>
					<xs:documentation>Any addl comments (esp) comments from the external resource that might have been used.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListResult">
		<xs:sequence>
			<xs:element name="Listing" type="tg:CollectionList"/>
			<xs:element name="depthLevel" type="xs:int" default="-1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>-1 indicates complete depth was searched</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SeekNReadResult">
		<xs:sequence>
			<xs:choice>
				<xs:element name="contentId">
					<xs:annotation>
						<xs:documentation>This is either a xs:Qname or URI  or somthing pointing to the attachment content id of the MIME or DIME that is be present along with the DataGridResponse</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="externalURl">
					<xs:annotation>
						<xs:documentation>URL of the external reource like FTPresource where the conetent was dowloaded from the datagrid</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="comments">
				<xs:annotation>
					<xs:documentation>Any addl comments (esp) comments from the external resource that might have been used.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MetadataQueryResult">
		<xs:sequence>
			<xs:element name="queryResults" type="tg:MetadataQueryInfo"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
