dataportal/tags/dataportal-3-5/lookup/src/uk/ac/clrc/dataportal/lookup/client/LookUpModule.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://lookup.dataportal" xmlns:impl="http://lookup.dataportal" xmlns:intf="http://lookup.dataportal" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://lookup.dataportal">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="ArrayOf_xsd_string" nillable="true" type="impl:ArrayOf_xsd_string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="lookupEndpointRequest">

      <wsdl:part name="facilityList" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="serviceType" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="lookupEndpointResponse">

      <wsdl:part name="lookupEndpointReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="lookupWSDLResponse">

      <wsdl:part name="lookupWSDLReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="lookupRequest">

      <wsdl:part name="facilityList" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="serviceType" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getFacilitiesResponse">

      <wsdl:part name="getFacilitiesReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="lookupWSDLRequest">

      <wsdl:part name="facilityList" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="serviceType" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getServicesResponse">

      <wsdl:part name="getServicesReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getFacilitiesRequest">

   </wsdl:message>

   <wsdl:message name="getServiceTypesResponse">

      <wsdl:part name="getServiceTypesReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getServiceTypesRequest">

   </wsdl:message>

   <wsdl:message name="getServicesRequest">

      <wsdl:part name="facility" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="lookupResponse">

      <wsdl:part name="lookupReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:portType name="LookUpModule">

      <wsdl:operation name="lookup" parameterOrder="facilityList serviceType">

         <wsdl:input name="lookupRequest" message="impl:lookupRequest"/>

         <wsdl:output name="lookupResponse" message="impl:lookupResponse"/>

      </wsdl:operation>

      <wsdl:operation name="lookupWSDL" parameterOrder="facilityList serviceType">

         <wsdl:input name="lookupWSDLRequest" message="impl:lookupWSDLRequest"/>

         <wsdl:output name="lookupWSDLResponse" message="impl:lookupWSDLResponse"/>

      </wsdl:operation>

      <wsdl:operation name="lookupEndpoint" parameterOrder="facilityList serviceType">

         <wsdl:input name="lookupEndpointRequest" message="impl:lookupEndpointRequest"/>

         <wsdl:output name="lookupEndpointResponse" message="impl:lookupEndpointResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getServices" parameterOrder="facility">

         <wsdl:input name="getServicesRequest" message="impl:getServicesRequest"/>

         <wsdl:output name="getServicesResponse" message="impl:getServicesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getServiceTypes">

         <wsdl:input name="getServiceTypesRequest" message="impl:getServiceTypesRequest"/>

         <wsdl:output name="getServiceTypesResponse" message="impl:getServiceTypesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getFacilities">

         <wsdl:input name="getFacilitiesRequest" message="impl:getFacilitiesRequest"/>

         <wsdl:output name="getFacilitiesResponse" message="impl:getFacilitiesResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LookUpServiceSoapBinding" type="impl:LookUpModule">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="lookup">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="lookupRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://lookup.dataportal"/>

         </wsdl:input>

         <wsdl:output name="lookupResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://lookup.dataportal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="lookupWSDL">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="lookupWSDLRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://lookup.dataportal"/>

         </wsdl:input>

         <wsdl:output name="lookupWSDLResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://lookup.dataportal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="lookupEndpoint">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="lookupEndpointRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://lookup.dataportal"/>

         </wsdl:input>

         <wsdl:output name="lookupEndpointResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://lookup.dataportal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getServices">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getServicesRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://lookup.dataportal"/>

         </wsdl:input>

         <wsdl:output name="getServicesResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://lookup.dataportal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getServiceTypes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getServiceTypesRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://lookup.dataportal"/>

         </wsdl:input>

         <wsdl:output name="getServiceTypesResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://lookup.dataportal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFacilities">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFacilitiesRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://lookup.dataportal"/>

         </wsdl:input>

         <wsdl:output name="getFacilitiesResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://lookup.dataportal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LookUpModuleService">

      <wsdl:port name="LookUpService" binding="impl:LookUpServiceSoapBinding">

         <wsdlsoap:address location="http://escpc10:8080/axis/services/LookUpService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
